body {
    font-family: Arial, sans-serif;
    background: url('https://images.pexels.com/photos/7640806/pexels-photo-7640806.jpeg?auto=compress&cs=tinysrgb&w=400') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.box {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Add hover effect */
}

.box:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.box h2 {
    color: #007bff;
    font-size: 24px;
}

.box p {
    font-size: 16px;
    color: #555; /* Darker text color */
}

a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}
